<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Login Form</h1></center>
    <form action="/login" method="POST">
        <div class="container">
            <label for="loginId">Email or Username :</label>
            <input type="text" placeholder="Enter email or username" name="loginId"/><br><br>
            <label for="password">Possword :</label>
            <input type="text" placeholder="Enter Password" name="password"/><br><br>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>